Sentinel/Playbooks/Formatted-IncidentNotification.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "Sentinel-IncidentNotification",
      "metadata": {
        "description": "Name of the Logic App resource."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for all resources."
      }
    },
    "recipientAddress": {
      "type": "string",
      "metadata": {
        "description": "Semicolon-separated email addresses for incident notifications."
      }
    },
    "logoUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Optional URL to a logo image displayed at the top of the email. Leave blank to omit."
      }
    },
    "azuresentinel_Connection_Name": {
      "type": "string",
      "defaultValue": "azuresentinel",
      "metadata": {
        "description": "Name for the Azure Sentinel API connection resource."
      }
    },
    "office365_Connection_Name": {
      "type": "string",
      "defaultValue": "office365",
      "metadata": {
        "description": "Name for the Office 365 Outlook API connection resource."
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuresentinel_Connection_Name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[parameters('azuresentinel_Connection_Name')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[parameters('office365_Connection_Name')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]"
      ],
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "recipientAddress": {
              "defaultValue": "",
              "type": "String"
            },
            "logoUrl": {
              "defaultValue": "",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_SeverityColor": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "SeverityColor",
                    "type": "string",
                    "value": "@{if(equals(triggerBody()?['object']?['properties']?['severity'],'High'),'#C0392B',if(equals(triggerBody()?['object']?['properties']?['severity'],'Medium'),'#E67E22',if(equals(triggerBody()?['object']?['properties']?['severity'],'Low'),'#F39C12','#2980B9')))}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Select_Entity_Rows": {
              "type": "Select",
              "inputs": {
                "from": "@if(empty(triggerBody()?['object']?['properties']?['relatedEntities']),json('[]'),take(triggerBody()?['object']?['properties']?['relatedEntities'],10))",
                "select": "@concat('<tr><td style=\"padding:6px 12px;border-bottom:1px solid #ecf0f1;font-size:13px;color:#2c3e50;font-family:Arial,Helvetica,sans-serif;\">',coalesce(item()?['properties']?['friendlyName'],item()?['properties']?['accountName'],item()?['properties']?['address'],item()?['properties']?['hostName'],item()?['properties']?['url'],item()?['properties']?['hashValue'],item()?['kind'],'Unknown'),'</td><td style=\"padding:6px 12px;border-bottom:1px solid #ecf0f1;font-size:13px;color:#7f8c8d;width:120px;font-family:Arial,Helvetica,sans-serif;\">',coalesce(item()?['kind'],''),'</td></tr>')"
              },
              "runAfter": {}
            },
            "Select_Label_Names": {
              "type": "Select",
              "inputs": {
                "from": "@if(empty(triggerBody()?['object']?['properties']?['labels']),json('[]'),triggerBody()?['object']?['properties']?['labels'])",
                "select": "@item()?['labelName']"
              },
              "runAfter": {}
            },
            "Compose_Email_HTML": {
              "type": "Compose",
              "inputs": "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"700\" style=\"border-collapse:collapse;background-color:#ffffff;margin:0 auto;\">@{if(equals(parameters('logoUrl'),''),'',concat('<tr><td align=\"center\" style=\"padding:20px 20px 10px 20px;\"><img src=\"',parameters('logoUrl'),'\" alt=\"Logo\" height=\"40\" style=\"height:40px;display:block;\" /></td></tr>'))}<tr><td bgcolor=\"@{variables('SeverityColor')}\" style=\"padding:20px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:22px;font-weight:bold;color:#ffffff;font-family:Arial,Helvetica,sans-serif;\">Incident #@{triggerBody()?['object']?['properties']?['incidentNumber']}</td></tr><tr><td style=\"font-size:16px;color:#ffffff;padding-top:6px;font-family:Arial,Helvetica,sans-serif;\">@{triggerBody()?['object']?['properties']?['title']}</td></tr><tr><td style=\"font-size:12px;color:#ffffff;padding-top:8px;font-family:Arial,Helvetica,sans-serif;\">@{triggerBody()?['workspaceInfo']?['WorkspaceName']}</td></tr></table></td></tr><tr><td style=\"padding:20px 30px 10px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;\"><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;width:160px;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\">Severity</td><td style=\"padding:10px 12px;border-bottom:1px solid #ecf0f1;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td bgcolor=\"@{variables('SeverityColor')}\" style=\"padding:3px 10px;color:#ffffff;font-weight:bold;font-size:12px;font-family:Arial,Helvetica,sans-serif;\">@{triggerBody()?['object']?['properties']?['severity']}</td></tr></table></td></tr><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">Status</td><td style=\"padding:10px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">@{triggerBody()?['object']?['properties']?['status']}</td></tr><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\">Alert Count</td><td style=\"padding:10px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\">@{triggerBody()?['object']?['properties']?['additionalData']?['alertsCount']}</td></tr><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">Created (UTC)</td><td style=\"padding:10px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td></tr><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\">Owner</td><td style=\"padding:10px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;background-color:#f9f9f9;\" bgcolor=\"#f9f9f9\">@{if(equals(triggerBody()?['object']?['properties']?['owner']?['assignedTo'],null),'Unassigned',triggerBody()?['object']?['properties']?['owner']?['assignedTo'])}</td></tr><tr><td style=\"padding:10px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">Alert Products</td><td style=\"padding:10px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">@{if(empty(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']),'N/A',join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'],', '))}</td></tr></table></td></tr><tr><td style=\"padding:10px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:15px;font-weight:bold;color:#2c3e50;padding-bottom:8px;font-family:Arial,Helvetica,sans-serif;\">Description</td></tr><tr><td bgcolor=\"#f4f4f4\" style=\"padding:12px 16px;font-size:13px;color:#2c3e50;line-height:1.5;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">@{if(not(empty(triggerBody()?['object']?['properties']?['description'])),triggerBody()?['object']?['properties']?['description'],if(not(empty(triggerBody()?['object']?['properties']?['Alerts']?[0]?['properties']?['description'])),triggerBody()?['object']?['properties']?['Alerts']?[0]?['properties']?['description'],'No description provided.'))}</td></tr></table></td></tr><tr><td style=\"padding:10px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:15px;font-weight:bold;color:#2c3e50;padding-bottom:8px;font-family:Arial,Helvetica,sans-serif;\">MITRE ATT&amp;CK</td></tr><tr><td style=\"padding:0;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;\"><tr><td style=\"padding:8px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;width:120px;background-color:#f9f9f9;font-family:Arial,Helvetica,sans-serif;\" bgcolor=\"#f9f9f9\">Tactics</td><td style=\"padding:8px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;background-color:#f9f9f9;font-family:Arial,Helvetica,sans-serif;\" bgcolor=\"#f9f9f9\">@{if(empty(triggerBody()?['object']?['properties']?['additionalData']?['tactics']),'N/A',join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'],', '))}</td></tr><tr><td style=\"padding:8px 12px;font-size:13px;font-weight:bold;color:#2c3e50;border-bottom:1px solid #ecf0f1;width:120px;font-family:Arial,Helvetica,sans-serif;\">Techniques</td><td style=\"padding:8px 12px;font-size:13px;color:#2c3e50;border-bottom:1px solid #ecf0f1;font-family:Arial,Helvetica,sans-serif;\">@{if(empty(triggerBody()?['object']?['properties']?['additionalData']?['techniques']),'N/A',join(triggerBody()?['object']?['properties']?['additionalData']?['techniques'],', '))}</td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:10px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:15px;font-weight:bold;color:#2c3e50;padding-bottom:8px;font-family:Arial,Helvetica,sans-serif;\">Affected Entities (up to 10)</td></tr><tr><td style=\"padding:0;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;\"><tr><td style=\"padding:8px 12px;font-size:12px;font-weight:bold;color:#7f8c8d;border-bottom:2px solid #bdc3c7;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;\">Entity</td><td style=\"padding:8px 12px;font-size:12px;font-weight:bold;color:#7f8c8d;border-bottom:2px solid #bdc3c7;text-transform:uppercase;width:120px;font-family:Arial,Helvetica,sans-serif;\">Type</td></tr>@{if(empty(body('Select_Entity_Rows')),'<tr><td colspan=\"2\" style=\"padding:10px 12px;font-size:13px;color:#7f8c8d;font-style:italic;font-family:Arial,Helvetica,sans-serif;\">No entities associated</td></tr>',join(body('Select_Entity_Rows'),''))}</table></td></tr></table></td></tr>@{if(empty(body('Select_Label_Names')),'',concat('<tr><td style=\"padding:10px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:15px;font-weight:bold;color:#2c3e50;padding-bottom:8px;font-family:Arial,Helvetica,sans-serif;\">Labels</td></tr><tr><td bgcolor=\"#f4f4f4\" style=\"padding:10px 16px;font-size:13px;color:#2c3e50;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">',join(body('Select_Label_Names'),', '),'</td></tr></table></td></tr>'))}<tr><td align=\"center\" style=\"padding:25px 30px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td align=\"center\" bgcolor=\"#2c3e50\" style=\"padding:12px 30px;\"><a href=\"@{concat('https://security.microsoft.com/incident2/', triggerBody()?['object']?['properties']?['providerIncidentId'], '/overview') }\" target=\"_blank\" style=\"color:#ffffff;text-decoration:none;font-weight:bold;font-size:14px;font-family:Arial,Helvetica,sans-serif;display:inline-block;\">View in Microsoft Defender</a></td></tr></table></td></tr><tr><td style=\"padding:15px 30px;border-top:1px solid #ecf0f1;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"font-size:11px;color:#95a5a6;font-style:italic;font-family:Arial,Helvetica,sans-serif;\">This notification was automatically generated by Microsoft Sentinel.</td></tr></table></td></tr></table></body></html>",
              "runAfter": {
                "Initialize_SeverityColor": [
                  "Succeeded"
                ],
                "Select_Entity_Rows": [
                  "Succeeded"
                ],
                "Select_Label_Names": [
                  "Succeeded"
                ]
              }
            },
            "Send_email_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "@{parameters('recipientAddress')}",
                  "Subject": "[@{triggerBody()?['object']?['properties']?['severity']}] Sentinel Incident #@{triggerBody()?['object']?['properties']?['incidentNumber']}: @{triggerBody()?['object']?['properties']?['title']}",
                  "Body": "@{outputs('Compose_Email_HTML')}",
                  "Importance": "@{if(equals(triggerBody()?['object']?['properties']?['severity'],'High'),'High','Normal')}"
                }
              },
              "runAfter": {
                "Compose_Email_HTML": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
                "connectionName": "[parameters('azuresentinel_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
                "connectionName": "[parameters('office365_Connection_Name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          },
          "recipientAddress": {
            "value": "[parameters('recipientAddress')]"
          },
          "logoUrl": {
            "value": "[parameters('logoUrl')]"
          }
        }
      }
    }
  ]
}
